@import '../../assets/styles/common.less';
@import '../../assets/styles/color.less';

page {
  background-color: @bg;
}

.signin {
  box-sizing: border-box;
  padding: 20px;

  &__header {
    margin-bottom: 20px;
  }

  &__content {
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    overflow: hidden;
    &--emptyhint {
      .cm-text();
      height: 60px;
      line-height: 60px;
      font-size: 24px;
      color: @assist-text;
      text-align: center;
      margin-top: 60px;
    }
  }
}