@import '../../assets/styles/color.less';
@import '../../assets/styles/common.less';

.home {
  &__img {
    width: 100%;
    margin-bottom: 60px;
  }

  &__opt {
    margin: 0 150px;

    &--1 {
      margin-bottom: 30px;
    }
  }
}