@import '../../../assets/styles/color.less';
@import '../../../assets/styles/common.less';

page {
  background: @bg;
}

.signin-list {
  &__content {
    padding: 30px;
    &--bar {
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
    }
    &--count {
      .cm-text();
      font-size: 14PX;
      color: @assist-text;
      margin-right: 30px;
    }
    &--opt {
      display: flex;
      margin-right: 20px;
    }
    &--link {
      .cm-text();
      font-size: 14PX;
      color: @dark-blue;
      margin-right: 20px;
      &:active {
        background: @active;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    &--item {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__hint {
    .cm-text();
    height: 120px;
    line-height: 120px;
    font-size: 14PX;
    color: @assist-text;
    text-align: center;
  }
}