@import '../../../assets/styles/color.less';
@import '../../../assets/styles/common.less';

page {
  background: @bg;
}

.signin-list {
  &__content {
    padding: 30px;
    &--bar {
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
    }
    &--count {
      .cm-text();
      font-size: 12PX;
      color: @assist-text;
    }
    &--refresh {
      .cm-text();
      font-size: 12PX;
      color: @dark-blue;
      &:active {
        background: @active;
      }
    }
    &--item {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}